*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-style: normal;
}
input{
  width: 250px !important;
  padding: 5px;
  margin: 10px;
  border: 2px solid rgb(0, 123, 255);
  outline: none;
}
.container{
  border: 2px solid rgb(0, 123, 255);
  border-radius: 50px;
  width: fit-content;

}
button a{
  text-decoration: none;
  color: white;
}